
[data-corvu-resizable-root] {
  width: 100%;
  height: 100%;
}

.panel {
  background-color: green;
}

[data-corvu-resizable-handle] {
  /* flex-basis: 0.75rem; */
   flex-basis: 0.10rem; 
  /* flex-basis: 1px; */
  background-color: red;
}

[data-corvu-resizable-handle][data-orientation="horizontal"] {
  padding-left: 1px;
  padding-right: 1px;
}

[data-corvu-resizable-handle][data-orientation="vertical"] {
  padding-top: 1px;
  padding-bottom: 1px;
}
